name: Build Meteo Outfit APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Clean Disk Space
        run: |
          sudo apt-get purge -y azure-cli google-cloud-sdk dotnet-sdk-* llvm-* clang-*
          sudo apt-get autoremove -y
      - name: Install System Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3-dev pip libffi-dev libssl-dev cmake openjdk-17-jdk
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Buildozer
        run: pip install buildozer cython==0.29.33
      - name: Build APK
        run: yes | buildozer -v android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Meteo-Outfit-APK
          path: bin/*.apk
