name: Build Meteo Outfit APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del codice
        uses: actions/checkout@v4

      - name: Pulizia spazio disco
        run: |
          sudo apt-get purge -y azure-cli google-cloud-sdk dotnet-sdk-* llvm-* clang-*
          sudo apt-get autoremove -y
          sudo apt-get clean

      - name: Installazione dipendenze sistema
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3-dev pip libffi-dev libssl-dev cmake openjdk-17-jdk

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Installazione Buildozer e Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.33 requests kivymd kivy

      - name: Compilazione APK
        # Usiamo di nuovo "yes |" perché è il modo più sicuro per accettare le licenze Android
        run: yes | buildozer -v android debug
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Caricamento APK
        uses: actions/upload-artifact@v4
        with:
          name: Meteo-Outfit-APK
          path: bin/*.apk
